@import "tailwindcss";

@theme {
  --color-brand-white: #fffdf0;
  --color-brand-100: #fde8c4;
  --color-brand-200: #fbd0a3;
  --color-brand-300: #f8a77a;
  --color-brand-400: #f3724c;
  --color-brand-500: #ec4013;
  --color-brand-600: #c63610;
  --color-brand-700: #a02c0d;
  --color-brand-800: #7a220a;
  --color-brand-900: #541808;
  --color-brand-black: #2f0d04;
}

@layer base {
  html {
    font-family: "Inter", sans-serif, system-ui;
  }

  body {
    @apply text-stone-900 dark:text-stone-100;
  }

  select {
    @apply appearance-none;
  }

  select,
  input {
    @apply bg-transparent;
  }

  * {
    font-display: swap;
  }

  ::backdrop {
    @apply bg-stone-900/25 dark:bg-white/25;
    @apply backdrop-blur-xs;
  }

  .ph, .ph-bold, .ph-fill {
    @apply flex items-center justify-center;
    @apply shrink-0;
  }
}

@layer components {
  /* ==========================================================================
  |
  |
  |
  |  Home
  |
  |
  |
  ============================================================================= */
  .map-content {
    @apply w-full md:max-w-[600px] md:min-w-[320px] md:w-[40vw];
  }

  .map-tab-button {
    @apply h-8 md:h-10 px-2 md:px-4;
    @apply bg-white dark:bg-stone-900;
    @apply border;
    @apply rounded-3xl;
    @apply flex items-center gap-x-1;
    @apply text-sm md:text-base;
  }

  .map-tab-button--active {
    @apply text-stone-900 dark:text-stone-100;
    @apply border-stone-900 dark:border-stone-100;
    @apply font-bold;
  }

  .map-tab-button--inactive {
    @apply hover:bg-stone-800 dark:hover:bg-stone-100;
    @apply border-stone-300 dark:border-stone-700;
    @apply text-stone-500;
    @apply hover:text-stone-100 dark:hover:text-stone-900;
    @apply transition ease-in-out;
  }

  /* ==========================================================================
  |
  |
  |
  |  Buttons
  |
  |
  |
  ============================================================================= */
  .button {
    @apply px-4 h-11;
    @apply rounded-3xl;
    @apply flex items-center justify-center gap-x-2;
    @apply font-medium text-base text-center;
    @apply whitespace-nowrap;
    @apply transition ease-in-out;
    @apply cursor-pointer;
  }

  .icon-button {
    @apply rounded-full;
    @apply flex items-center justify-center;
    @apply transition ease-in-out;
    @apply cursor-pointer;
  }

  .icon-button--base {
    @apply h-11 w-11;
  }

  .icon-button--small {
    @apply h-8 w-8;
  }

  .icon-button--xs {
    @apply h-6 w-6;
  }

  .button i, .icon-button--base i {
    @apply text-2xl;
    @apply size-6;
  }

  .icon-button--small i {
    @apply text-xl;
    @apply size-5;
  }

  .icon-button--xs i {
    @apply text-base;
    @apply size-4;
  }

  .button--primary {
    @apply bg-brand-500 dark:bg-brand-600;
    @apply hover:bg-brand-600 dark:hover:bg-brand-500;
    @apply text-brand-white;
  }

  .button--secondary {
    @apply bg-brand-200 dark:bg-brand-900;
    @apply hover:bg-brand-300 dark:hover:bg-brand-800;
    @apply text-brand-900 dark:text-brand-200;
  }

  .button--active {
    @apply bg-brand-600 dark:bg-brand-500;
    @apply hover:bg-brand-700 dark:hover:bg-brand-400;
    @apply text-brand-100 dark:text-brand-900;
  }

  .button--disabled {
    @apply bg-stone-200 dark:bg-stone-700;
    @apply text-stone-400 dark:text-stone-500;
    @apply cursor-not-allowed;
    @apply pointer-events-none;
  }

  .button--ghost {
    @apply bg-white dark:bg-stone-900;
    @apply hover:bg-stone-200 dark:hover:bg-stone-700;
    @apply text-stone-900 dark:text-stone-100;
  }

  /* ==========================================================================
  |
  |
  |
  |  Inputs
  |
  |
  |
  ============================================================================= */
  .input {
    @apply w-full h-11 px-4;
    @apply rounded-3xl;
    @apply border border-stone-300 dark:border-stone-700;
    @apply text-stone-700 dark:text-stone-300;
  }

  .textarea {
    @apply w-full py-2 px-4;
    @apply rounded-3xl;
    @apply border border-stone-300 dark:border-stone-700;
    @apply text-stone-700 dark:text-stone-300;
  }

  .input--base {
    @apply bg-white dark:bg-stone-900;
  }

  .input--accent {
    @apply bg-stone-100 dark:bg-stone-800;
  }

  /* ==========================================================================
  |
  |
  |
  |  Tags
  |
  |
  |
  ============================================================================= */
  .tag {
    @apply w-fit px-2 py-1;
    @apply rounded-full;
    @apply bg-stone-200 dark:bg-stone-700;
    @apply text-stone-700 dark:text-stone-300;
    @apply text-xs;
  }

  .tag--hot {
    @apply bg-red-600 dark:bg-red-300 text-white dark:text-red-900;
  }

  .tag i {
    @apply size-3;
  }

  /* ==========================================================================
  |
  |
  |
  |  Popups
  |
  |
  |
  ============================================================================= */
  .popup:has(*) {
    @apply z-10;
    @apply rounded-xl;
    @apply border border-stone-300 dark:border-stone-700;
    @apply bg-white dark:bg-stone-900;
    @apply overflow-hidden;
    @apply shadow;
  }

  /* equivalent to screen(md) */
  @media (max-width: 48rem) {
    .popup--bottom-sheet:has(*) {
      @apply fixed inset-x-0 bottom-0;
      @apply min-h-[128px] max-h-[calc(100dvh-128px)] h-[calc(100dvh-128px)];
      @apply rounded-none rounded-t-xl;
      @apply border-b-0 border-x-0 border-t;
    }

    .popup--bottom-sheet:has(*)::before {
      @apply absolute inset-x-0 mx-auto top-1;
      @apply h-1 w-16;
      @apply bg-stone-200 dark:bg-stone-700;
      @apply content-[''];
      @apply rounded-full;
    }
  }

  .bottom-sheet-transition {
    @apply transition-[height] duration-500 ease-in-out;
  }

  /* ==========================================================================
  |
  |
  |
  |  List
  |
  |
  |
  ============================================================================= */
  .list-item {
    @apply p-4;
    @apply bg-white dark:bg-stone-900;
    @apply hover:bg-stone-200 dark:hover:bg-stone-700;
    @apply flex;
    @apply text-stone-800 dark:text-stone-200;
    @apply transition ease-in-out;
  }

  .list-item__text {
    @apply text-left;
  }

  /* ==========================================================================
  |
  |
  |
  |  Grid
  |
  |
  |
  ============================================================================= */
  .grid-item {
    @apply p-4;
    @apply bg-stone-100 dark:bg-stone-800;
    @apply hover:bg-stone-200 dark:hover:bg-stone-700;
    @apply flex;
    @apply text-stone-800 dark:text-stone-200;
    @apply transition ease-in-out;
  }

  .grid-item__event-image {
    @apply size-24 md:size-32;
    @apply object-cover;
    @apply rounded-lg;
  }

  /* ==========================================================================
  |
  |
  |
  |  Flash
  |
  |
  |
  ============================================================================= */
  .flash {
    max-width: 512px;
    @apply w-full md:w-fit;
    @apply px-4 py-2 rounded-md;
    @apply text-sm;
    @apply shadow-lg;
    @apply flex items-center gap-x-2;
  }

  .flash--info {
    @apply bg-blue-200 dark:bg-blue-800 text-blue-900 dark:text-blue-100;
  }

  .flash--success {
    @apply bg-green-200 dark:bg-green-800 text-green-900 dark:text-green-100;
  }

  .flash--warning {
    @apply bg-yellow-200 dark:bg-yellow-800 text-yellow-900 dark:text-yellow-100
  }

  .flash--error {
    @apply bg-red-200 dark:bg-red-800 text-red-900 dark:text-red-100;
  }

  .flash i {
    @apply size-4 shrink-0;
  }

  /* ==========================================================================
  |
  |
  |
  |  Modal
  |
  |
  |
  ============================================================================= */
  .modal {
    @apply fixed m-auto z-10;
    @apply bg-white dark:bg-stone-900;
    @apply rounded-xl;
    @apply border border-stone-300 dark:border-stone-700;
    @apply shadow;
  }

  /* ==========================================================================
  |
  |
  |
  |  Event
  |
  |
  |
  ============================================================================= */
  .event-image {
    @apply size-24 md:size-32;
    @apply object-cover;
    @apply rounded-lg;
  }
  
  .event-source-icon {
    @apply size-4;
    @apply rounded;
  }

  /* ==========================================================================
  |
  |
  |
  |  Table
  |
  |
  |
  ============================================================================= */
  table {
    @apply w-full;
    @apply text-sm;
  }

  thead {
    @apply sticky top-0;
  }

  th i {
    @apply text-xl;
  }
  
  th, td {
    @apply p-2;
    @apply text-left;
    @apply border-x border-stone-300 dark:border-stone-700;
  }

  th:first-child, td:first-child {
    @apply pl-4;
  }

  th:last-child, td:last-child {
    @apply pr-4;
  }

  tbody tr:hover {
    @apply bg-stone-200 dark:bg-stone-700;
    @apply transition ease-in-out;
  }

  tbody td {
    @apply border border-stone-300 dark:border-stone-700;
  }

  tbody tr:first-child td {
    @apply border-t-0;
  }

  tbody tr:last-child td {
    @apply border-b-0;
  }
}
  
@layer utilities {
  /* ==========================================================================
  |
  |
  |
  |  Colors
  |
  |
  ============================================================================= */
  .text-primary {
    @apply text-stone-900 dark:text-stone-100;
  }

  .text-secondary {
    @apply text-stone-600 dark:text-stone-400;
  }

  .border-primary {
    @apply border-stone-300 dark:border-stone-700;
  }

  .divide-primary {
    @apply divide-stone-300 dark:divide-stone-700;
  }

  .underline-secondary {
    @apply decoration-stone-300 dark:decoration-stone-700;
  }

  .link {
    @apply text-blue-600 dark:text-blue-400;
    @apply hover:text-blue-800 dark:hover:text-blue-200;
    @apply transition ease-in-out;
  }

  .link-visited {
    @apply text-violet-700 dark:text-violet-400;
    @apply hover:text-violet-900 dark:hover:text-violet-100;
    @apply transition ease-in-out;
  }

  .skeleton {
    @apply bg-stone-200 dark:bg-stone-700;
    @apply animate-pulse;
  }

  .bg-accent {
    @apply bg-stone-100 dark:bg-stone-800;
  }

  /* ==========================================================================
  |
  |
  |
  |  Mapbox
  |
  |
  ============================================================================= */
  .mapboxgl-map {
    font-family: "Inter", sans-serif, system-ui !important;
  }
  
  .mapboxgl-popup {
    @apply w-[320px];
  }

  .mapboxgl-popup-content {
    @apply !p-0;
    @apply !rounded-xl;
    @apply !shadow-lg;
  }

  .mapboxgl-popup-anchor-left {
    @apply pl-2;
  }

  .mapboxgl-popup-anchor-bottom {
    @apply pb-2;
  }

  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    @apply !border-r-stone-900 dark:!border-r-white;
  }

  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    @apply !border-t-stone-900 dark:!border-t-white;
  }

  .mapboxgl-popup:has([data-no-location="true"]) .mapboxgl-popup-tip {
    @apply !hidden;
  }

  .mapboxgl-control-container {
    @apply !hidden;
  }

  /* ==========================================================================
  |
  |  Scroll
  |
  |
  ============================================================================= */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .business-organizer-events-table [id^="event_"]:target {
    @apply bg-stone-200 dark:bg-stone-700;
  }
}